{% for article in articles %}
    <div class="">
        <h2>{{ article.title }} ({{ article.id }}) </h2>

        <p>{{ article.content }}</p>
        <a href="{{ path('article_author',{'author': article.author }) }}">{{ article.author }}</a>
{% else %}
        <p>Il n'y a pas d'articles</p>
    </div>
{% endfor %}
