{% for article in articles %}
    <div class="">
        <a href="{{ path('article_show',{ 'articleSlug' : article.slug }) }}"><h2>{{ article.title }} ({{ article.id }}) </h2></a>
        <p>{{ article.content }}</p>
        <p>écrit le {{ article.createdAt|date('d/m/Y') }}</p>
        <ul>
            <li>Auteur: <a href="{{ path('article_author',{'author': article.author }) }}">{{ article.author }}</a></li>
            <li>Tag: <a href="{{ path('article_tag',{'tag': article.tag }) }}">{{ article.tag }}</a></li>
        </ul>
{% else %}
        <p>Il n'y a pas d'articles</p>
    </div>
{% endfor %}
