{% extends('::base.html.twig') %}


{% block body %}

    {{ parent() }}

<div class="">
    <h1>{{ article.title }} ({{ article.id }}) </h1>

    <p>{{ article.content }}</p>
    <p>écrit le {{ article.createdAt|date('d/m/Y') }}</p>
    <a href="{{ path('article_author',{'author': article.author }) }}">{{ article.author }}</a>
    <a href="{{ path('article_tag',{'tag': article.tag }) }}">{{ article.tag }}</a>
</div>
{% endblock %}
