{% extends ('::base.html.twig') %}

{% block steelsheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() ~ '- Tags' }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>Nouvel Article</h2>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.title,  { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.content,  { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.author,  { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.tag,  { 'attr': {'class': 'form-control'} }) }}
    </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}

{% endblock %}